html{
    font-size: 10px;
    font-family: 'Abyssinica SIL', serif;
    
}

h1{
    font-size: 30px; 
    margin: 0; /* eliminate gap at top */
    padding: 0 20px 20px 20px; /* top & bottom padding to 20px */
    color: #203B3B
}

p,
li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    padding: 0 20px;
}

body{
    width: 600px;
    margin: 20px auto; /* top & bottom side; left & right side*/
    background-color: #e7efef;
    padding: 20px 20px 20px 20px; /* top, right, bottom, left */
    border: 5px solid #203B3B
}

img{
    display: block; /* for auto margin to work for an inline element, 
    need to give it block-level behavior */
    margin: 0 auto; 
    width: 400px
}

button{
    display: block;
    padding: auto;
    margin: auto;
    font-family: 'Abyssinica SIL', serif
}