@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Serif+SC:wght@400;700&display=swap');

@media (width <= 1000px) {

    h1{
        font-size: 1.7rem;
    }

    h2{
        font-size: 1rem;
    }

    p{
        font-size: 0.8rem;
    }

    nav{
        font-size: 1rem;
    }

    nav ul.left{
        margin: 0.7em;
    }

    nav ul.right{
        width: 76%;
        margin: 0.7em 0;
    }

    #intro{
        display: flex;
        flex-wrap: wrap;
        width: 90%; 

        height: auto;
        justify-content: center;
        align-items: center;
        margin: 10% 0 0 0;
        padding: 5% 5% 10% 5%;
        left: 0;
    }
    
/*     #intro #portrait{
        display: table-cell;
        vertical-align: middle;
    } */
    
    #intro #portrait-image{
        display: block;

        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
    
    #intro #text{
        display: block;

        vertical-align: middle;
        padding: 0 4% 0 4%;
    }

    .researchSection{
        grid-template-columns: 100%;
    }
    
    .researchSection #text{
        padding: 0 5% 0% 8%;
    }

    .researchSection #pic{
        padding: 2% 5% 5% 10%;
    }
}

@media (width > 1000px) {
    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.5rem;
    }

    p{
        font-size: 1.15rem;
    }

    nav{
        font-size: 1.7rem;
    }

    nav ul.right{
        width: 50%;
    }

    nav ul{
        margin: 0.7em;
    }

    #intro{
        display: flex;
        width: 100%; 
        height: auto;
        justify-content: center;
        align-items: center;
        margin: 5% 0 0 0;
        padding: 5% 0% 10% 5%;
        left: 0;
    }
    
    #intro #portrait{
        display: table-cell;
        vertical-align: middle;
    }
    
    #intro #portrait-image{
        display: table-cell;
        height: 300px;
        width: 300px;
        border-radius: 50%;
    }
    
    #intro #text{
        display: table-cell;
        width: 30%;
        vertical-align: middle;
        padding: 0 4% 0 4%;
    }

    .researchSection{
        grid-template-columns: 55% 45%;
    }
    
    .researchSection #text{
        padding: 0 5% 40% 15%;
    }

    .researchSection #pic{
        padding: 8% 5% 0 10%;
    }
}

body{
    width: 100%;

    font-family: 'Montserrat', sans-serif;
    color: #034148;
    background-color: #f4fbfb;
}

*{
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1{
    display: block;
    
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    
}

.section-title{
    margin-inline-start: 8%;
    padding-top: 5%;
    height: 40px;
}

p{
    padding: 2.5% 0;
}

a{
    text-decoration: none;
    color: inherit; 
}


.in-text{
    font-weight: 500;
    color: #007582;
    text-decoration: none; 
    border-bottom: dotted 1.5px;
    transition: all ease-in-out .2s;
  }
  
.in-text:hover {
    color: #65a5a6;
}

ul{
    list-style: none;
}

strong{
    font-weight: normal;

    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-color: #5de0aed3;
    text-decoration-thickness: 4px;
    color: inherit;
}

em{
    color: #2c6c53d3;
}

/* intro */

#chinese{
    font-family: 'Noto Serif SC', serif;

}

/* nav */

nav{
    display: inline-block;
    color: #007582;
    background-color: #f4fbfb;

    text-align: center;
    
    font-weight: bold;
    position: fixed;
    width: 100%;
    margin: 0;

    z-index: 1;
}

nav ul{
    margin: 0.7em;
}

nav ul.left{
    float: left;
}

nav ul.left li{
    border-bottom: 3px solid #5DE0AE;
}

nav ul.right{
    float: right;
    
    margin-right: 0;
}

nav ul.right li{
    display: inline-block;
    list-style: none;
    margin: 0 4%;
    padding-bottom: 1%;
    
    width: 20%;
    transition: all ease-in-out .2s;
    border: none;
    position: relative;
}



nav ul.right li:hover {
    border: none;
  }

nav ul.right li::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 3px;
    left: 0;
    bottom:0;
    background-color: #5DE0AE;
    transition: all ease-in-out .2s;
  }

nav ul.right li:hover::after{
    width: 100%;
    left: 0;
  }

nav a{
    display: inline-block;
    transition: color 0.2s ease;
}

nav a:hover{
    color: #5DE0AE;
}

/* main */
#main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 100%;
}

/* research */

.section{
    width: 100%;
    
}

.section h1{
    width: fit-content;
    border-bottom: 3px solid #5DE0AE;
}

.researchSection{
    display: grid;
    width: 100%;
}

.researchSection #pic img{
    width: 80%;
}

/* portfolio */

#portfolio{
    width: 100%;

}

#portfolio .text {
    padding: 0 5% 0% 8%;
}

#portfolio p{
    padding-top: 0;
}

.images{
    width: 85%;
    margin: 0 auto 3% auto; /* center */
}

.image-grid{
    width: 85%;
    margin: -3% auto 3% auto; /* center */

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.image-grid .preview{
    width: 105%;
    margin: 0 0.6% 3% 0.6%;

    object-fit: contain;
}

#collage{
    grid-row: 1 / 3;
    grid-column: 1;
}

#flower-wheel{
    grid-row: 1 / 3;
    grid-column: 2;
    margin-left: 5%;
}

#hornbill{
    grid-row: 1 / 3;
    grid-column: 3;
    margin-left: 3%;
}

#fruit{
    grid-row: 1 / 3;
    grid-column: 4;
    margin-left: -5%;
}

#blue-bird{
    margin-top: 8%;
    margin-left: -8%;
    margin-bottom: -2%;
}

#green-bird{
    margin-left: -8%;
    margin-top: -10%;
}

.images .large{
    max-width: 90%;
}

.images #plantImageSmall{
    width: 17.7%;
}

.caption{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 5%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: -1%;
    
}

.row > *{
    flex: 1;
}
  
.row > .col {
    padding: 0 1px;
}
  
.col {
float: left;
width: 50%;
}



/* lightbox */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5);

    z-index: 2;
  }
  
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0 0 0 0;
    width: 80%;
    max-width: 1200px;
  }

.item{
    position: relative;
    transition: all ease-in-out .2s;
}

.preview{
    cursor: pointer;
    text-decoration: none;
    color: inherit; 
    transition: all ease-in-out .15s;

    object-fit: contain;
    height: 80%;
}

.preview:hover{
    opacity: .8;
}

.detail{
    position: absolute;
    top: 0;

    background-color: #4bb38bb4;

    width: 90%;
    height: 99%;

    align-items: center;

    opacity: 0;

    transition: all ease-in-out .2s;
}

.detail-text-wrapper{
    padding: 20% 5%;
    text-align: center;
    color: #ffffffc7;
    font-size: 1.2em;
}

.detail-text{
    padding-bottom: 1%;
}

.detail-text.bold{
    font-weight: bold;
    font-size: 1.5em;
}


  .slide {
    display: none;
  }
  
  .slide-image {
    display: block;
    float: none;
    max-width: 100%;
    max-height: 750px;
    height: auto;
    margin: 2% auto 0 auto;
  }

  .close {
    color: rgba(255, 255, 255, .8);
    position: absolute;
    top: 2%;
    left: 96%;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    opacity: .5;
    text-decoration: none;
  }

  .previous,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin: 0 -70px 0 -70px;
    color: rgba(255, 255, 255, .8);
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.previous{
    left: 0;
}

.next {
    right: 0;
}

.previous:hover,
.next:hover {
  opacity: .5;
}

.dots{
    margin: -1% auto 0 auto;
}

.dot{
    color: white;
    font-size: 3em;
    opacity: .5;
}

.active{
    opacity: 1;
}

/* contact */
#contact .text {
    padding: 0 0 8% 8%;
}

#contact p{
    padding: 0;
}


/* footer */
footer{
    text-align: center;
    margin: 1% 0;
}

